//fonts

@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Interblack.woff2') format('woff2'),
	url('../../fonts/Interblack.woff') format('woff'),
	url('../../fonts/Interblack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Interregular.woff2') format('woff2'),
	url('../../fonts/Interregular.woff') format('woff'),
	url('../../fonts/Interregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Intersemibold.woff2') format('woff2'),
	url('../../fonts/Intersemibold.woff') format('woff'),
	url('../../fonts/Intersemibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Interbold.woff2') format('woff2'),
	url('../../fonts/Interbold.woff') format('woff'),
	url('../../fonts/Interbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Intermedium.woff2') format('woff2'),
	url('../../fonts/Intermedium.woff') format('woff'),
	url('../../fonts/Intermedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* reset css */
*{-webkit-text-size-adjust:none}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background:transparent;
}
html{
	height:100%;
	background: $white;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	min-height:100%;
	font-family: $font-family-base;
	position:relative;
	background: $body-bg;
	color: $base-color;
	font-size: $font-size-base;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	@include media("<phone"){
		font-size: 14px;
		line-height: 18px;
	}
	&.overflow{
		overflow: hidden;
	}
}
input,
textarea,
select{
	color: $base-color;
	vertical-align: middle;
	font: 100% $font-family-base;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: .3s all;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding:0;
}
a,
button,
input,
textarea,
select {
	&:focus {
		outline: none;
	}
}
input[type="search"] {
	-webkit-appearance: none;
}
.form__control{
	-webkit-appearance: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
ul{list-style: none;}
blockquote, q{quotes: none;}
a{
	color: $link-color;
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*::-webkit-input-placeholder{
	color:$lightGray;
	opacity: 1;
}
*:-moz-placeholder{
	color:$lightGray;
	opacity: 1;
}
*::-moz-placeholder{
	color:$lightGray;
	opacity: 1;
}
*:-ms-input-placeholder{
	color:$lightGray;
	opacity: 1;
}
table{border-collapse: collapse;}
*,
*:before,
*:after{
	@include box-sizing();
}


/* styles */
.wrapper {
	position:relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	transition: margin .5s;
	padding-top: 100px;
	@include media("<1100px") {
		padding-top: 86px;
	}
	@include media("<phone") {
		padding-top: 56px;
	}
}
.page{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;
}
.container{
	max-width: $container-large-desktop;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	@include media("<1500px") {
		max-width: 1270px;
		padding: 0 15px;
	}
	@include media("<tablet") {
		padding: 0 15px;
	}
	&_fluid{
		max-width: 100%;
		padding: 0;
	}
	@include clearfix;
}

.row{
	@include clearfix();
}
.mb{
	display: none;
}
.pc{
	display: block;
}
/* Tablet */
@media only screen and (max-width: 768px){
	.mb{
		display: block !important;
	}
	.pc{
		display: none !important;
	}
}
/* Smartphone */
@media only screen and (min-width: 768px){
	.mb{
		display: none !important;;
	}
	.pc{
		display: block !important;
	}
}
.hidden{
	display: none !important;
}
.img-to-bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	> img{display: none;}
}
@include media(">tablet") {
	html ::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
		height: 4px;
	}

	html ::-webkit-scrollbar-track {
		opacity: 0.5;
	}

	html ::-webkit-scrollbar-thumb {
		background: #c1c1c1;
		opacity: 0.8;
		border-radius: 43px;
	}
}

/*typography*/
h1, .h1{
	font-size: $font-size-h1;
	line-height: 140%;
	font-family: $font-family-base;
	font-weight: 900;
	color: $graphitImaris;
	text-align: left;
	margin: 0;
	@include media("<1440px"){
		font-size: 48px;
	}
	@include media("<1100px"){
		font-size: 48px;
	}
	@include media("<phone"){
		font-size: 32px;
	}
}
h2, .h2{
	font-size: $font-size-h2;
	line-height: 140%;
	font-family: $font-family-base;
	font-weight: 900;
	color: $graphitImaris;
	text-align: left;
	margin: 0 0 15px;
	@include media("<desktop"){}
	@include media("<1100px"){
		font-size: 24px;
	}
	@include media("<phone"){}
}
h3, .h3{
	font-size: $font-size-h3;
	line-height: 140%;
	font-family: $font-family-base;
	font-weight: 900;
	color: $graphitImaris;
	text-align: left;
	margin: 0 0 40px;

	@include media("<1440px"){
		font-size: 40px;
		margin-bottom: 32px;
	}
	@include media("<phone"){
		font-size: 32px;

	}
}
h4, .h4{
	font-size: $font-size-h4;
	line-height: 140%;
	font-family: $font-family-base;
	font-weight: 900;
	color: $graphitImaris;
	text-align: left;
	margin: 0 0 25px;
	@include media("<desktop"){}
	@include media("<tablet"){
		font-size: 18px;
	}
	@include media("<phone"){}
}
h5, .h5{
	font-size: $font-size-h4;
	line-height: 140%;
	font-family: $font-family-base;
	font-weight: 400;
	color: $graphitImaris;
	text-align: left;
	margin: 0 0 25px;
	@include media("<desktop"){}
	@include media("<tablet"){}
	@include media("<phone"){}
}
p{margin:0}
/*end typography*/
/* styles end */

@include media("<desktop_lg"){}
@include media("<desktop"){}
@include media("<tablet"){}
@include media("<phone"){}